.radius (@radius: 5px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}

.left-radius (@radius: 5px) {
  -webkit-border-top-left-radius: @radius;
  -webkit-border-bottom-left-radius: @radius;
  -moz-border-radius-topleft: @radius;
  -moz-border-radius-bottomleft: @radius;
  border-top-left-radius: @radius;
  border-bottom-left-radius: @radius;
}

.box-shadow (@x: 0, @y: 0, @blur: 15px, @color: #000) {
  box-shadow: @arguments;
  -moz-box-shadow: @arguments;
  -webkit-box-shadow: @arguments;
}

body {
  background: #444;
  font-size: 14px;

  #wrapped {
    min-height: 400px;
    margin: 20px auto;
    
    #projects {
      float: left;
      list-style: none;
      padding: 0;
      margin: 0;
      width: 100%;

      h1 {
        font: lighter 2em/1.2em Arial;
        margin: .2em .2em .5em .2em;
        text-shadow: .05em .05em .2em #101010;
        color: #dd9;
        text-align: left;

        span.bug {
          font: bold 1em/1.2em sans-serif;
          float: right;
          padding: 0 .1em;
          color: #CD1806;
          .radius (.2em);

          img {
            height:1.1em;
            vertical-align: top;
          }
        }
      }

      .project {
        overflow: auto;
        padding: .4em .6em;
        margin-bottom: 2em;
        background-color: #111;
        border: .2em solid #444;
        .radius (.4em);
        .box-shadow (.2em , .4em);
        
        .stories {
          overflow: auto;
          list-style: none;
          padding: 0;

            li {
            overflow: auto;
            font: bold 1em/1.6em sans-serif;

            > span, .bar {
              float: left;
              display: block;
              overflow: hidden;
              height: 1.6em;
              padding: .3em;
              margin: .3em;
              border: .1em solid #353535;
              .radius (.2em);
              background: -webkit-gradient(linear, left top, left bottom, from(#454545), to(#242424));
              background: -moz-linear-gradient(top,#121212,#242424);
              color: #EFEFEF;
              text-transform: uppercase;

              &.title {
                /*width: 40%;*/
                clear:left;

                &.outdated {
                  border-color: #CD1806;
                }
              }

              &.user {
                /*width: 20%;*/
                background: none;
                border: 0;
                .radius (0px);
                height:2.2em;

                span {
                  border: .1em solid #242424;
                  background: -webkit-gradient(linear, left top, left bottom, from(#121212), to(#242424));
                  background: -moz-linear-gradient(top,#121212,#242424);
                  padding: 0 .5em;
                  color: #bcf;
                  float:left;
                  .radius (.2em);
                }
              }
            }

            > img, .success {
              margin-left: 1em;
              height: 2.5em;
            }
            
            .quote {
              display: block;
              /*width:8%;*/
              text-align: center;
              color: #fff;

              label {
                font-size:.8em;
              }

            }
            
            .bar {
              background: -webkit-gradient(linear, left top, left bottom, from(#121212), to(#242424));
              background: -moz-linear-gradient(top,#121212,#242424);
              position: relative;
              float: left;
              width: 24%;
              max-width: 24%;

              .pourcent {
                display: block;
                height: 100%;
                position: absolute;
                left:0;
                top:0;
                .left-radius (.2em);
                background-color: #46c514;
                .box-shadow (0px, 0px, @blur, #46c514);
                background-image: url('../images/alert-overlay.png');
                background-repeat: repeat-x;
              }

              @blur: .3em;

              &.late .pourcent {
                background-color: #fd3b15;
                .box-shadow (0px, 0px, @blur, #fd3b15);
              }
              &.early .pourcent {
                background-color: #54afdc;
                .box-shadow (0px, 0px, @blur, #54afdc);
              }
              &.done .pourcent {
                .radius (.2em);
              }
            }
          }
        }
      }

      .availableTeam {
        text-align: right;

        label {
          color: #fff;
          font: normal 1em 2em Arial;
        }

        span {
          border: .1em solid #242424;
          background: -webkit-gradient(linear, left top, left bottom, from(#121212), to(#242424));
          background: -moz-linear-gradient(top,#121212,#242424);
          color: #bcf;
          padding: .8em .5em;
          font: bold 1em/1.5em sans-serif;
          text-transform: uppercase;
          display:inline-block;
          .radius (.4em);
        }
      }
    }
  }
}
