.radius (@radius: 5px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}

.left-radius (@radius: 5px) {
  -webkit-border-top-left-radius: @radius;
  -webkit-border-bottom-left-radius: @radius;
  -moz-border-radius-topleft: @radius;
  -moz-border-radius-bottomleft: @radius;
  border-top-left-radius: @radius;
  border-bottom-left-radius: @radius;
}

.box-shadow (@x: 0, @y: 0, @blur: 15px, @color: #000) {
  box-shadow: @arguments;
  -moz-box-shadow: @arguments;
  -webkit-box-shadow: @arguments;
}

body {
  background: #212121;

  #wrapped {
    width: 1390px;
    min-height: 400px;
    margin: 50px auto;
    
    #tweets {
      width: 420px;
      float: right;
      padding: 0px 10px;
      margin: 0px;
      list-style: none;

      .tweet {
        margin-bottom: 16px;
        background-color: #101010;
        .radius (4px);
        .box-shadow (2px , 5px);
        overflow: auto;
        padding: 6px;

        color: #ddd;
        font: normal 14px/16px Arial;

        img {
          float: left;
          margin-right: 8px;
          width: 42px;
          height: 42px;
        }
      }
    }

    #projects {
      float: left;
      width: 936px;
      list-style: none;
      padding: 0px;
      margin: 0px;

      h1 {
        font: lighter 28px/32px Lobster, Arial;
        margin: 8px 6px 15px 6px;
        text-shadow: 1px 1px 5px #101010;
        color: #EEE;
        text-align: left;

        span.bug {
          font: bold 14px/32px sans-serif;
          background: url("../images/bug.png") no-repeat #101010;
          float: right;
          padding: 0px 6px;
          padding-left: 32px;
          font-size: 25px;
          font-weight: bold;
          color: #CD1806;
          .radius (3px);
        }
      }

      .project {
        overflow: auto;
        padding: 6px 10px;
        margin-bottom: 30px;
        background-color: #101010;
        .radius (4px);
        .box-shadow (2px , 5px);
        
        .stories {
          overflow: auto;
          list-style: none;
          padding: 0px;

            li {
            margin-bottom: 20px;
            height: 32px;

            > span, .bar {
              float: left;
              display: block;
              overflow: hidden;
              height: 30px;
              padding: 5px;
              margin: 5px;
              border: 1px solid #353535;
              .radius (3px);
              background: -webkit-gradient(linear, left top, left bottom, from(#454545), to(#242424));
              background: -moz-linear-gradient(top,#FF0,#0FF);
              color: #EFEFEF;
              font: bold 14px/32px sans-serif;
              text-transform: uppercase;

              &.title {
                width: 320px;

                &.outdated {
                  border: 1px solid #CD1806;
                }
              }

              &.user {
                width: 210px;
                background: none;
                height: 42px;
                padding: 0px;
                border: 0px;
                .radius (0px);

                span {
                  border: 1px solid #242424;
                  background: -webkit-gradient(linear, left top, left bottom, from(#121212), to(#242424));
                  background: -moz-linear-gradient(top,#FF0,#0FF);
                  padding: 12px 6px;
                  line-height: 42px;
                  color: #bcf;
                }
              }
            }

            .quote {
              display: block;
              width: 80px;
              text-align: center;
              color: #FFFFFF;
              font: bold 16px/32px Arial;

              .current {
                color: #FFFFFF;
              }

              .base {
                color: #FFFFFF;
                margin-right: 6px;
              }
            }
            
            .bar {
              border: 1px solid #242424;
              background: -webkit-gradient(linear, left top, left bottom, from(#121212), to(#242424));
              background: -moz-linear-gradient(top,#FF0,#0FF);
              position: relative;
              padding: 0px 0px;
              height: 40px;
              float: left;
              width: 240px;
              max-width: 240px;

              .pourcent {
                display: block;
                height: 100%;
                position: absolute;
                .left-radius (3px);
                background-color: #46c514;
                .box-shadow (0px, 0px, @blur, #46c514);
              }

              .title {
                display: block;
                text-align: center;
                width: 100%;
                color: #EFEFEF;
                position: absolute;
                bottom: -28px;
                letter-spacing: 1px;
                font: bold 16px/20px sans-serif;
                text-transform: uppercase;
              }

              @blur: 5px;

              &.late .pourcent {
                  background-color: #fd3b15;
                .box-shadow (0px, 0px, @blur, #fd3b15);
              }
              &.early .pourcent {
                background-color: #54afdc;
                .box-shadow (0px, 0px, @blur, #54afdc);
              }
              &.done .pourcent {
                background-color: #eeb;
                .radius (3px);
                .box-shadow (0px, 0px, @blur, #fff);
              }
            }
          }
        }
      }

      .availableTeam {
        text-align: right;

        label {
          color: #fff;
          font: normal 12px/30px Arial;
        }

        span {
          border: 1px solid #242424;
          background: -webkit-gradient(linear, left top, left bottom, from(#121212), to(#242424));
          background: -moz-linear-gradient(top,#FF0,#0FF);
          color: #bcf;
          padding: 12px 6px;
          line-height: 42px;
          font: bold 14px/32px sans-serif;
          text-transform: uppercase;
        }
      }
    }
  }
}
