.radius (@radius: 5px) {
  border-radius: @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
}

.left-radius (@radius: 5px) {
  -webkit-border-top-left-radius: @radius;
  -webkit-border-bottom-left-radius: @radius;
  -moz-border-radius-topleft: @radius;
  -moz-border-radius-bottomleft: @radius;
  border-top-left-radius: @radius;
  border-bottom-left-radius: @radius;
}

.box-shadow (@x: 0, @y: 0, @blur: 15px, @color: #000) {
  box-shadow: @arguments;
  -moz-box-shadow: @arguments;
  -webkit-box-shadow: @arguments;
}

.ellipsis {
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


body {
  background: #444;
  font-size: 14px;
}

#wrapper {
    min-height: 400px;
    margin: 0em auto;
}

.box {
    background: -webkit-gradient(linear, left top, left bottom, from(#121212), to(#242424));
    background: -moz-linear-gradient(top,#121212,#242424);
    border: .1em solid #353535;
    .radius (.2em);
    text-transform: uppercase;
}

.tooltip{
  display:none;
  background:#aaa;
  color:#000;
  border: .2em solid #444;
  .radius (.4em);
  .box-shadow (.2em , .4em);
  position:absolute;
  z-index:1;
  font:normal normal .7em/1.3em serif;
  text-align: left;
  text-transform: none;
  list-style: square inside none;
  padding:.5em;
  ul{
    padding:.5em;
  }
  a{
    color:#000;
  }
}

    
    #projects {
      display:block;
      list-style: none;
      padding: 0;
      margin: 0;

      h1 {
        font: lighter 1.8em/1.2em Arial;
        margin: .2em .2em .5em .2em;
        text-shadow: .05em .05em .2em #101010;

        a {
          color: #dd9;
          text-decoration: none;
        }
      }

      .bug {
        float: right;
        padding: 0 .1em;
        font: bold 1.5em/1.5em sans-serif;
        .radius (.2em);
        position:relative;

        img {
          height:1.2em;
          vertical-align: text-top;
        }

        .nb {
          color: #cd1806;
        }

        .bugUsers {
          font-size:.7em;
          color: #bcf;

          .box{
            display: inline-block;
            padding: 0 .2em;
          }
        }

        ul{
          right:0;
          width:40em;
        }
      }

      .bug:hover ul {
        display:block
      }

      .project {
        padding: .4em .6em;
        margin-bottom: 2em;
        background-color: #111;
        border: .2em solid #444;
        .radius (.4em);
        .box-shadow (.2em , .4em);
        
        .stories {
          list-style: none;
          padding: 0;

            li.milestone {
            font: bold 1em/2em sans-serif;
            position:relative;
            height:3.1em;

            > div {
              float: left;
              height: 2em;
              padding: 0;
              margin: .5%;
              overflow: hidden;
              color: #efefef;

              &.title {
                width: 49%;
                clear:left;

                span, a {
                  display:block;
                  padding:0 .3em;
                  text-decoration: none;
                  color:#efefef;
                }

                &.outdated {
                  border-color: #cd1806;
                }
              }

              &.users {
                width: 18%;
                height:2.3em;

                span {
                  float:left;
                  padding: 0 .5em;
                  color: #bcf;
                }
              }
            }

            > img, .success {
              margin-left: 1em;
              height: 2.5em;
            }
            
            .quote {
              width:5%;
              text-align: center;
              color: #fff;

              label {
                font-size:.8em;
              }

              .tooltip{
                font-size:1em;
              }
            }

            .quote:hover ul {
              display:block;
            }
            
            .bar {
              position: relative;
              width: 20%;
              max-width: 20%;

              .pourcent {
                height: 100%;
                position: absolute;
                left:0;
                top:0;
                background: #46c514 url('../images/alert-overlay.png') 0 0 repeat-x;
                .radius (.2em);
              }

              @blur: .3em;

              &.early .pourcent {
                background-color: #54afdc;
                .box-shadow (0px, 0px, @blur, #54afdc);
              }
              &.late .pourcent {
                background-color: #fd3b15;
                .box-shadow (0px, 0px, @blur, #fd3b15);
              }
              &.done .pourcent {
                background-color: #46c514;
                .box-shadow (0px, 0px, @blur, #46c514);
              }
            }
          }
        }
      }

      .availableTeam {
        text-align: right;

        label {
          color: #fff;
          font: normal 1em/2em Arial;
          font-variant: small-caps;
        }

        span {
          color: #bcf;
          font: bold 1em/1.5em sans-serif;
          padding: .3em .5em;
          display:inline-block;
          .box-shadow (.2em , .4em);
        }
      }
    }


